# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Git and OS metadata
.git/
.gitignore
.dockerignore
.vscode/
.idea/
Thumbs.db
.DS_Store

# Docker config
docker-compose*.yml
Dockerfile*
